body {
    height: 100vh;
    background-image: url("background.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: rgb(15, 95, 35);
}

.player-input {
    margin: 20px;
    margin-left: 0px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    background-color: blanchedalmond;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
}

td,
th {
    border: 1px solid blanchedalmond;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: blanchedalmond;
}

tr:nth-child(odd) {
    background-color: rgb(177, 160, 136);
}